__pycache__/
.vscode/
.venv/
*.egg-info
.vim/
.netrwhist
.justfile
examples/real-world

# used for comparing output between different versions of Oneil (pixilcode/oncmp)
oncmp_config.toml

# cargo
/target
