
[package]
name = "oneil_ir_traverse"
description = "Tools for traversing the IR of the Oneil language"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
oneil_ir = { path = "../oneil_ir" }
